@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?fqr82p");
  src: url("fonts/icomoon.eot?fqr82p#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?fqr82p") format("truetype"),
    url("fonts/icomoon.woff?fqr82p") format("woff"),
    url("fonts/icomoon.svg?fqr82p#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body {
  font-family: "Filósofo", sans-serif;
  font-size: 20px;
  background-color: black;
}
header {
  background-image: url("../img/productos/img.variedad7.png");
  padding: 1em 0;
  background-size: cover;
}
header h1 {
  color: black;
  font-family: "Lobster";
  text-decoration: underline;
  font-size: 80px;
  font-weight: bold;
  padding-bottom: 15px;
  text-align: center;
}
header img {
  display: block;
  margin: auto;
  width: 800px;
  border-radius: 20px;
}
.contenido {
  margin: 1em;
  padding: 1em;
  font-weight: bold;
  font-size: 30px;
  border: 5px solid black;
  border-radius: 10px;
  background-image: url("../img/cuidados/img.variedad2.png");
  background-size: cover;
  color: white;
}
.item{
  max-width:960px;
  margin:0 auto;
}
h2 {
  text-align: center;
  color: #275e3b;
  font-family: "Lobster";
  font-size: 50px;
  padding-top: 10px;
}

.cajita {
  background-color: #4ead8a;
  margin-left: 0.8em;
  /* float: left; */
  padding-top: 8px;
}
.cajita h3 {
  background-color: #275e3b;
  color: azure;
  text-align: center;}
.cajita p {
  padding-left: 0.8em;
  padding-right: 0.8em;
}
